In [0]:
USE movie_gold;

In [0]:
select * from results_movie

In [0]:
-- TOTAL (SUMA)
SELECT country_name,
       COUNT(country_name) AS total_movie,
       SUM(budget) AS total_budget,
       SUM(revenue) AS total_revenue
FROM results_movie
GROUP BY country_name
ORDER BY total_revenue DESC;

In [0]:
--PROMEDIO + FORMATEAR DECIMAL USAR FUNCTIONS DE CONVERSION DE DATOS " CAST " 
SELECT country_name,
       COUNT(country_name) AS total_movie,
       SUM(budget) AS total_budget,
       CAST(AVG(budget) AS DECIMAL (18,2)) AS avg_budget,
       SUM(revenue) AS total_revenue,
       CAST(AVG(revenue) AS DECIMAL (18,2)) AS avg_revenue
FROM results_movie
GROUP BY country_name
ORDER BY total_revenue DESC;

In [0]:
--FILTROS CON RANGOS DE FECHA 
SELECT country_name,
       COUNT(country_name) AS total_movie,
       SUM(budget) AS total_budget,
       CAST(AVG(budget) AS DECIMAL (18,2)) AS avg_budget,
       SUM(revenue) AS total_revenue,
       CAST(AVG(revenue) AS DECIMAL (18,2)) AS avg_revenue
FROM results_movie
WHERE year_release_date BETWEEN 2010 and 2015
GROUP BY country_name
ORDER BY total_revenue DESC;